<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {{#each story.content.meta}}
      {{> (lookup . 'component') }}
    {{/each}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/main.css">
    <script src="public/js/modernizr.js"></script>
  </head>
  <body data-page="{{ story.content.page_name }}">
    <div class="wrapper">
      <main>
        {{{body}}}
      </main>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="//app.storyblok.com/f/storyblok-latest.js"></script>
    <script src="public/js/main.js"></script>
  </body>
</html>