{{!-- {{{ story.content._editable }}}
<div class="meganav container">
  {{#each meganav.body}}
    {{> (lookup . 'component') }}
  {{/each}}
</div>

<div class="about container">
  {{#each story.content.body}}
    {{> (lookup . 'component') }}
  {{/each}}
</div> --}}