 <!-- the default component we create and where you can add new components on the fly is called "root" by default - this also will be rendered first after the layout: index.js line 32 (http://a.storyblok.com/f/40206/x/8e9c92a64b/unbenannt.png)-->
 {{{ story.content._editable }}}
<div class="root">
  <div class="meganav container">
    {{#each meganav.body}}
      {{> (lookup . 'component') }}
    {{/each}}
  </div>

  <div class="page container">
    {{#each story.content.body}}
      {{> (lookup . 'component') }}
    {{/each}}
  </div>

  <div class="megafooter container">
    {{#each megafooter.body}}
      {{> (lookup . 'component') }}
    {{/each}}
  </div>

</div>  
