$duration: 0.5s;

.meganav {
    z-index: 100;
    position: fixed;
    .meganav-strip {
        position: fixed;
        height: 75px;
        width: 100%;
        background-color: none;
        .scrolled {
            background-color: $brandColorBlue;
        }
        .navicon-button {
            display: inline-block;
            position: relative;
            padding: 2.0625rem 1.5rem;
            transition: $duration/2;
            cursor: pointer;
            user-select: none;
            opacity: 0.8;
            .navicon::before,
            .navicon::after {
                transition: $duration/2;
            }
            &:hover {
                transition: $duration;
                opacity: 1;
                .navicon::before,
                .navicon::after {
                    transition: $duration/2;
                }
                .navicon::before {
                    top: 0.825rem;
                }
                .navicon::after {
                    top: -0.825rem;
                }
            }
            .navicon {
                position: relative;
                width: 2.5em;
                height: 0.3125rem;
                background: $brandColorPink;
                transition: $duration;
                border-radius: 2.5rem;
                &::before,
                &::after {
                    display: block;
                    content: "";
                    height: 0.3125rem;
                    width: 2.5rem;
                    background: $brandColorPink;
                    position: absolute;
                    z-index: -1;
                    transition: $duration $duration/2;
                    border-radius: 1rem;
                }
                &::before {
                    top: 0.625rem;
                }
                &::after {
                    top: -0.625rem;
                }
                }
                .open:not(.steps) .navicon::before,
                .open:not(.steps) .navicon::after {
                top: 0 !important;
                }
                .open .navicon::before,
                .open .navicon::after {
                transition: $duration;
                }

                .open.x {
                .navicon {
                    background: transparent;
                    &::before {
                        transform: rotate(-45deg);
                    }
                    &::after {
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
    .meganav-overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.7);
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease;
        z-index: 2;
        &.open {
            opacity: 1;
            visibility: visible;
        }
        nav {
            text-align: left;
            height: 95vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 100px;
            div {
                align-items: center;
                flex: 1;
                line-height: 10vh;
                position: relative;
                margin-left: 20em;
                a {
                    font-size: 5em;
                    font-family: $libreFranklin;
                    color: #e1e1e1;
                    margin-left: 0.45em;
                    span {
                        position: absolute;
                        transition: all 0.5s ease;
                        font-size: 0.35em;
                        left: 0;
                        top: 40px;
                        display: none;
                    }
                    &.active {
                        margin-left: 0;
                        &::before {
                            content: "";
                            width: 0.2em;
                            height: 0.2em;
                            background-color: $brandColorPink;
                            float: left;
                            margin: 5vh 0.25em 0 0;
                            border-radius: 50%;
                        }
                    }
                    &:hover {
                        color: #ffffff;
                        span {
                            display: block;
                        }
                    }
                }
            }
        }

        @media screen and (min-width: 600px) {
            nav ul li a {
                font-size: 3em;
            }
        }
        .close {
            position: fixed;
            top: 33px;
            left: 26px;
            color: $brandColorPink;
            z-index: 3;
            cursor: pointer;
            font-family: sans-serif;
            span,
            span::before,
            span::after {
                border-radius: 4px;
                height: 5px;
                width: 35px;
                background: $brandColorPink;
                position: absolute;
                display: block;
                content: '';
            }
            span {
                background: transparent;
            }
            span::before {
                transform: rotate(45deg);
            }
            span::after {
                transform: rotate(-45deg);
            }
        }
        .outer-close {
            position: absolute;
            left: 0;
            top: 0;
            width: 85px;
            height: 85px;
            cursor: pointer;
        }
    }
    .page-title {
        position: absolute;
        top: 15px;
        left: 80px;
        font-weight: bold;
        span {
            font-weight: normal;
        }
        &.light {
            color: $brandColorGray;
        }
        &.dark {
            color: $brandColorBlue;
        }
    }
}
