$color-initial:    #ffffff !default;
$color-primary:    #9b4dca !default;
$color-secondary:  #606c76 !default;
$color-tertiary:   #f4f5f6 !default;
$color-quaternary: #d1d1d1 !default;
$color-quinary:    #e1e1e1 !default;
$brandColorPink:   #e77b95 !default;
$brandColorTeal:   #47d0ca !default;
$brandColorBlue:   #191f22 !default;
$brandColorGray:   #f1f2f4 !default;
